<%- include('../includes/head.ejs') %>
        <link rel="stylesheet" href="/css/drills/whats-your-hand.css">
        <script src="/js/pokerutils.js"></script>
        <script src="/js/drills/whats-your-hand.js"></script>
    </head>

    <body>
        <%- include('../includes/nav.ejs') %>
        <main>
            <div id="whats-your-hand-backdrop"></div>
            <div id="game-modes">
                <div id="game-mode-top-bar">
                    <button id="game-mode-back" class="btn">Back</button>
                    <h1 class="game-title">WHAT'S YOUR HAND?</h1>
                    <button id="how-to-play" class="btn flash-how-to-play">HOW TO PLAY</button>
                </div>
                <div id="how-to-play-popup">
                    <h2>How to Play: What's Your Hand?</h2>
                    <p>Welcome to <b>What's Your Hand?</b> &mdash; a game designed to help you master identifying poker hands!</p>

                    <p>(Need a refresher on hand rankings? Check out <a href="/articles/hand-rankings" target="_blank">Poker Hand Rankings: A Beginner's Guide</a> for more details.)</p>
                    
                    <h3>Objective</h3>
                    <p>
                        Your goal is to find the best possible hand at each stage: the flop, turn, and river.
                        You'll start with two hole cards and see three flop cards. Choose the best hand you can make using the buttons provided. If 
                        you're right, a turn card will be revealed. Select your new best hand, and if you're correct again, the river card comes out. 
                        Pick the best final hand and keep going to a new round with new hole cards and a new flop. See how many rounds you can ace in 
                        a row! 
                    </p>
                    <p>
                        (Need a refresher on poker terms? Check out <a href="/articles/poker-lingo" target="_blank">A Long List of Poker Lingo</a>.
                        New to poker entirely? Check out <a href="/articles/how-to-play-poker" target="_blank">How to Play Poker</a>).
                    </p>

                    <h3>Example</h3>
                    <p>In the interactive example below, you can play through one round of the game. To start, your hole cards are J♦, 5♦. 
                        The flop is 5♠, 5♥, 8♣. Select your best hand!
                    </p>

                    <div class="board-wrapper-howto">
                        <h3>BOARD</h3>
                        <h4 id="street-howto">FLOP</h4>
                        <div id="board-cards-howto">
                            <img src="/assets/cards/5-S.png">
                            <img src="/assets/cards/5-H.png">
                            <img src="/assets/cards/8-C.png">
                        </div>
                    </div>
                    <div class="your-cards-wrapper-howto">
                        
                        <div class="your-cards-howto" id="your-cards-container-howto">
                            <h3>YOUR CARDS</h3>
                            <div id="your-cards-howto">
                                <img src="/assets/cards/J-D.png">
                                <img src="/assets/cards/5-D.png">
                            </div>
                        </div>
                    </div>

                    <div id="hand-grid-howto">
                        <div class="hand-btn-howto" id="high-card-howto">High Card</div>
                        <div class="hand-btn-howto" id="pair-howto">Pair</div>
                        <div class="hand-btn-howto" id="two-pair-howto">Two-Pair</div>
                        <div class="hand-btn-howto" id="three-of-a-kind-howto">Three of a Kind</div>
                        <div class="hand-btn-howto" id="straight-howto">Straight</div>
                        <div class="hand-btn-howto" id="flush-howto">Flush</div>
                        <div class="hand-btn-howto" id="full-house-howto">Full House</div>
                        <div class="hand-btn-howto" id="four-of-a-kind-howto">Four of a Kind</div>
                        <div class="hand-btn-howto" id="straight-flush-howto">Straight Flush</div>
                        <div class="hand-btn-howto" id="royal-flush-howto">Royal Flush</div>
                    </div>

                    <div id="howto-feedback-wrapper">
                        <p id="howto-ex-feedback"></p>
                        <button id="howto-next" class="btn">Next</button>
                    </div>

                    <h3>Game Modes</h3>
                    <p>Ready to play? Choose a game mode and get started. Race against the clock with <i><b>Blitz</b></i>, see how long you can keep a 
                        streak going with <i><b>Survival</b></i>, or have a relaxing practice session with <i><b>Zen</b></i>.
                    </p>

                    <h3>Play</h3>
                    <p>Start playing and see if you can pick the right hand every time!</p>

                    <button class="btn" id="how-to-play-close">Close</button>
                </div>
                <h1 id="choose-text">Choose a Game Mode</h1>
                <div class="game-mode-grid">
                    <div id="blitz" class="game-mode-item">
                        <img src="assets/badges/blitz_badge.png">
                    </div>
                    <div id="survival" class="game-mode-item">
                        <img src="assets/badges/survival_badge.png">
                    </div>
                    <div id="zen" class="game-mode-item">
                        <img src="assets/badges/WYH_zen_badge.png">
                    </div>
                </div>
            </div>

            <div id="start-screen" style="display: none;">
                <div id="start-screen-top-bar">
                    <button id="start-screen-back" class="btn">Back</button>
                </div>
                <div id="start-screen-body">
                    <h1 id="game-mode-name"></h1>
                    <p id="game-mode-description"></p>
                    <div id="game-mode-instructions-wrapper">
                        <h2>Instructions</h2>
                        <p id="game-mode-instructions"></p>
                    </div>
                    <button id="start" class="btn">START</button>
                </div>
            </div>

            <div id="game-area"style="display: none;">
                <div class="game-area-top-bar">
                    <button id="exit" class="btn">Exit</button>
                    <p id="score"></p>
                    <div id="timer" style="display: none;"></div>
                </div>
                <div class="mobile-cards-container">
                    <div class="board-wrapper">
                        <h3>BOARD</h3>
                        <h4 id="street"></h4>
                        <div id="board-cards"></div>
                    </div>
                    <div id="your-cards-container">
                        <h3 id="your-cards-label">YOUR CARDS</h3>
                        <div id="your-cards"></div>
                    </div>
                </div>
                <div id="hand-grid">
                    <div class="hand-btn" id="high-card">High Card</div>
                    <div class="hand-btn" id="pair">Pair</div>
                    <div class="hand-btn" id="two-pair">Two-Pair</div>
                    <div class="hand-btn" id="three-of-a-kind">Three of a Kind</div>
                    <div class="hand-btn" id="straight">Straight</div>
                    <div class="hand-btn" id="flush">Flush</div>
                    <div class="hand-btn" id="full-house">Full House</div>
                    <div class="hand-btn" id="four-of-a-kind">Four of a Kind</div>
                    <div class="hand-btn" id="straight-flush">Straight Flush</div>
                    <div class="hand-btn" id="royal-flush">Royal Flush</div>
                </div>
                <div class="result-wrapper">
                    <p id="result"></p>
                    <button id="next" class="btn" style="display: none;">NEXT</button>
                </div>
                <div id="survival-message-wrapper">
                    <div id="survival-message"></div>
                    <button id="survival-next" class="btn">End Game</button>
                </div>
                <div id="indicator" class="flashing"></div>
            </div>

            <div id="game-over-screen" style="display: none;">
                <h1>Game Over</h1>
                <p id="high-score-message" style="display: none;">New High Score!</p>
                <h2>Score</h2>
                <p id="final-score"></p>
                <h2>High Score</h2>
                <p id="high-score"></p>
                <div class="game-over-btns">
                    <button id="play-again" class="btn">Play Again</button>
                    <br>
                    <button id="game-over-back" class="btn">Back</button>
                </div>
            </div>
        </main>
        <script src="/js/shared.js"></script>
    </body>
</html>