<%- include('includes/head.ejs') %>
<%- include('includes/nav.ejs') %>
    </head>

    <body>
        <main>
            <div class="landing">
                <h1 id="poker">Poker</h2><h1 id="primer">Primer</h2>
            </div>
            <div class="drills">
                <h2 id="drills-title">Drills</h2>
                <div class="drills-grid">
                    <!-- Drill 1 -->
                    <div class="drill-item" id="game-01">
                        <img src="/assets/badges/showdown_badge.png">
                    </div>

                    <!-- Drill 2 -->
                    <div class="drill-item">
                        <img src="/assets/badges/drills_coming_soon_badge.png">
                    </div>
                </div>
            </div>
            <div class="tools">
                <h2 id="tools-title">Tools</h2>
                <div class="tools-grid">
                    <div class="tool-item" id="hand-evaluator">
                        <img src="/assets/badges/hand_evaluator_badge.png">
                    </div>

                    <div class="tool-item">
                        <img src="/assets/badges/tools_coming_soon_badge.png">
                    </div>
                </div>
            </div>
        </main>
        <script src="js/index.js"></script>
    </body>
</html>