:root {
    --btn-grid-width: auto;
}

body {
    background-color: var(--main-medium-dark-grey-color);
}

main {
    color: white;
    height: 100%;
}

h2 {
    margin: 0;
    text-align: center ;
}

.top-bar {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    padding: 1.5rem 1rem;
    margin: 0 15%;
    gap: 0.5rem;
}

#back {
    font-size: 1.5rem;
    justify-self: start;
    height: 2.5rem;
}

.top-text {
    font-size: 2rem;
}

#best-hand-label {
    justify-self: end;
}

#best-hand-eval {
    justify-self: start;
    color: var(--main-green-color);
}


#show-area-grid {
    display: grid;
    grid-template-columns: 1fr var(--btn-grid-width) 1fr;
    grid-template-rows: 1fr auto;
    grid-template-areas: " . upper . "
                         " . buttons . ";
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin: 1rem 0 1rem 0;
}

#upper-show-area-grid {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-area: upper;
    align-items: center;
    gap: 2rem;
}

#instructions {
    font-size: 1.5rem;
    align-self: center;
}

#instructions p {
    margin: 0 0 1rem 0;
}

#max-msg {
    color: var(--main-red-color);
}

.flashing {
    animation: flash 0.5s linear 2;
}

#clear {
    font-size: 1.5rem;
    justify-self: start;
    height: 2.5rem;
}

#button-grid {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(13, 6vh);
    margin: 0 auto;
    padding: 0;
    justify-items: center;
    height: 40vh;
    grid-area: buttons;
    width: fit-content;
}

img {
    width: 100%;
}

.cardBtn {
    cursor: pointer;
}

.cardBtn:hover {
    border: 3px solid var(--main-blue-color);
}


#card-grid {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(5, 10vh);
    grid-template-rows: repeat(2, 1fr);
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    height: 30vh;
}

.not-in-best-hand {
    filter: brightness(30%);
}


.selected {
    filter: brightness(60%);
}


#input-wrapper {
    grid-area: buttons;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}

#input-wrapper h3 {
    font-size: 2rem;
    margin: 1rem;
}

input[type="text"] {
    font: inherit;
    width: 32rem; /* Sets the width of the input box */
    padding: 10px; /* Adds padding inside the input box */
    font-size: 1.5rem; /* Changes the font size */
    border: 4px solid var(--main-blue-color); /* Defines the border thickness and color */
    border-radius: 5px; /* Rounds the corners of the input box */
    outline: none; /* Removes the default outline on focus */
    color: var(--main-blue-color);
}

#use-keyboard, 
#use-buttons {
    width: fit-content;
    margin: 0.4rem 0;
}
  

@keyframes flash {
    0%, 100% {
      opacity: 1; /* Fully visible */
    }
    50% {
      opacity: 0; /* Hidden */
    }
}



@media (max-width: 900px) {

    .top-bar {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        align-items: center;
        padding: 1.5rem 0;
        margin: 0 5%;
        gap: 0.5rem;
    }
    
    #back {
        font-size: 1.5rem;
        justify-self: start;
        height: 2.5rem;
    }

    .top-text {
        font-size: 1.5rem;
    }


    #show-area-grid {
        display: flex;
        flex-direction: column;
        margin: auto;
    }

    #upper-show-area-grid {
        display: flex;
        flex-direction: column-reverse;
        justify-items: center;
        align-items: center;
        align-content: center;
        justify-content: center;
    }

    #instructions {
        font-size: 1.5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 5%;
    }

    #clear {
        font-size: 1.5rem;
        height: 2.5rem;
        width: fit-content;
    }

    #card-grid {
        display: grid;
        gap: 10px;
        grid-template-columns: repeat(5, 15%);
        grid-template-rows: repeat(2, min-content);
        margin: 0;
        padding: 0;
        height: fit-content;
        /* justify-content: center;
        align-items: center; */
    }

    #input-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: auto;
    }
    
    #input-wrapper h3 {
        font-size: 1.5rem;
        margin: 0 0 1rem 0;
    }
    
    input[type="text"] {
        font: inherit;
        width: 100%; /* Sets the width of the input box */
        padding: 10px; /* Adds padding inside the input box */
        font-size: 1.5rem; /* Changes the font size */
        border: 4px solid var(--main-blue-color); /* Defines the border thickness and color */
        border-radius: 5px; /* Rounds the corners of the input box */
        outline: none; /* Removes the default outline on focus */
        color: var(--main-blue-color);
    }
}



