<%- include('../includes/head.ejs') %>
        <link rel="stylesheet" href="/css/articles/articles.css">
        <link rel="stylesheet" href="/css/articles/poker-lingo.css">
    </head>

    <body>
        <%- include('../includes/nav.ejs') %>
        <main>
            <a href="/" class="btn">Back</a>
            <h1>A Long List of Poker Lingo</h1>
    
            <!-- Table of Contents -->
            <div class="table-of-contents-container">
                <h2>Table of Contents</h2>
                <ul>
                    <li><a href="#a">A</a></li>
                    <li><a href="#b">B</a></li>
                    <li><a href="#c">C</a></li>
                    <li><a href="#d">D</a></li>
                    <li><a href="#e">E</a></li>
                    <li><a href="#f">F</a></li>
                    <li><a href="#g">G</a></li>
                    <li><a href="#h">H</a></li>
                    <li><a href="#i">I</a></li>
                    <li><a href="#k">K</a></li>
                    <li><a href="#l">L</a></li>
                    <li><a href="#m">M</a></li>
                    <li><a href="#n">N</a></li>
                    <li><a href="#o">O</a></li>
                    <li><a href="#p">P</a></li>
                    <li><a href="#q">Q</a></li>
                    <li><a href="#r">R</a></li>
                    <li><a href="#s">S</a></li>
                    <li><a href="#t">T</a></li>
                    <li><a href="#u">U</a></li>
                    <li><a href="#v">V</a></li>
                    <li><a href="#w">W</a></li>
                </ul>
            </div>
    
            <h2 id="a">A</h2>
            <ul>
                <li><strong class="green">Act</strong>: To make a play (betting, calling, raising, or folding) during your turn.</li>
                <li><strong class="green">Action</strong>: Used to describe describe a game with frequent betting and raising, indicating active and aggressive play from multiple players.</li>
                <li><strong class="green">Active Players</strong>: Players who are still involved in a hand and have not folded.</li>
                <li><strong class="green">Aggressive</strong>: A playing style characterized by frequent betting and raising, as opposed to checking or calling, often used to apply pressure on opponents and control the action.</li>
                <li><strong class="green">All-In</strong>: Betting all your chips on a single hand.</li>
                <li><strong class="green">Angle</strong>: An unethical tactic used to gain an unfair advantage without explicitly breaking the rules.</li>
                <li><strong class="green">Ante</strong>: A small forced bet that all players must contribute before a hand is dealt.</li>
            </ul>
    
            <h2 id="b">B</h2>
            <ul>
                <li><strong class="green">Bad Beat</strong>: When a strong hand that is statistically favored to win loses to a much weaker hand due to an unlikely draw or series of cards.</li>
                <li><strong class="green">Backdoor</strong>: Completing a hand by hitting the necessary cards on both the turn and the river. For example, a player might need two consecutive cards of the same suit to complete a backdoor flush.</li>
                <li><strong class="green">Bankroll</strong>: The total amount of money a player has set aside specifically for playing poker.</li>
                <li><strong class="green">Barreling</strong>: The strategy of continuing to bet aggressively on multiple streets (such as the flop, turn, and river) to apply pressure on opponents, often in an attempt to make them fold weaker hands.</li>
                <li><strong class="green">Bet</strong>: The act of placing chips or money into the pot during a betting round, indicating a commitment to continue in the hand and challenging other players to match, raise, or fold.</li>
                <li><strong class="green">Big Blind</strong>: A mandatory bet made by the player two seats left of the dealer button before the cards are dealt.</li>
                <li><strong class="green">Bluff</strong>: Betting or raising with a weak hand to deceive your opponents into folding a better hand.</li>
                <li><strong class="green">Board</strong>: The community cards dealt face-up in the center of the table, available for all players to use.</li>
                <li><strong class="green">Boat</strong>: Another name for full house.</li>
                <li><strong class="green">Button</strong>: A marker that indicates the dealer's position and rotates clockwise after each hand.</li>
                <li><strong class="green">Buy-in</strong>: The amount of money or chips a player must pay to enter a poker game or tournament.</li>
            </ul>
    
            <h2 id="c">C</h2>
            <ul>
                <li><strong class="green">Call</strong>: Matching the current bet to stay in the hand.</li>
                <li><strong class="green">Calling Station</strong>: a poker player who frequently calls bets and rarely raises or folds, regardless of the strength of their hand. This type of player is often seen as passive and unwilling to fold, making them difficult to bluff but easy to extract value from when holding strong hands.</li>
                <li><strong class="green">Cash Game</strong>: A type of poker game where players bet real money or chips that represent real money, and can join or leave the game at any time, cashing out their chips for money.</li>
                <li><strong class="green">Cashing</strong>: Refers to finishing in a position in a poker tournament where a player receives a payout, typically by making it into the prize pool.</li>
                <li><strong class="green">Cashing Out</strong>: The act of exchanging poker chips for real money, typically done when a player decides to leave a cash game or at the end of a session.</li>
                <li><strong class="green">Check</strong>: Passing the action to the next player without betting, provided no bet has been made in the current round.</li>
                <li><strong class="green">Check Raise</strong>: A strategic move in poker where a player first checks when it is their turn to act, intending to induce a bet from an opponent, and then raises after that opponent bets.</li>
                <li><strong class="green">Community Cards</strong>: The cards dealt face-up in the center of the table that all players can use to make their best hand.</li>
                <li><strong class="green">Connectors</strong>: Consecutive cards of different suits, such as 7♠ and 8♣, that can form straights and are often played together due to their potential for strong hands.</li>
                <li><strong class="green">Continuation Bet (C-Bet)</strong>: A bet made by the player who took the lead in betting during the previous round, typically used after the flop in poker games like Texas Hold'em to maintain initiative and pressure opponents.</li>
                <li><strong class="green">Cooler</strong>: A situation in poker where a strong hand loses to an even stronger hand, often resulting in a large pot and typically considered an unavoidable loss due to the strength of both hands involved.</li>
                <li><strong class="green">Cutoff</strong>: The position at a poker table that is immediately to the right of the dealer button.</li>
            </ul>
    
            <h2 id="d">D</h2>
            <ul>
                <li><strong class="green">Dealer</strong>: The person who deals the cards and manages the game.</li>
                <li><strong class="green">Deuce</strong>: A card with a rank of two in any suit (2♠, 2♥, 2♦, 2♣). It is the lowest-ranking card in most poker games.</li>
                <li><strong class="green">Double Up</strong>: When a player wins a pot that is at least as large as their current chip stack, effectively doubling their chips, usually by going all-in and winning the hand.</li>
                <li><strong class="green">Downswing</strong>: A prolonged period of bad luck or losing streak in poker, where a player consistently loses money or chips over several hands or sessions.</li>
                <li><strong class="green">Draw</strong>: Playing a hand that requires one or more specific cards to complete a strong hand.
                    For example, if your hole cards are A♥, 5♥ and the flop comes 6♥, 9♥, J♣, you have a flush draw &mdash; any heart completes your flush.</li>
                <li><strong class="green">Drawing Dead</strong>: A situation where a player is drawing to a hand that, even if completed, will still lose to an opponent's stronger hand. This means there is no possible way for the player to win the pot.</li>
                <li><strong class="green">Dry Board</strong>: A community board in poker that is unlikely to help anyone make a strong hand because it has few or no straight or flush draws. An example of a dry board is 2♠ 8♦ Q♣.</li>
                <li><strong class="green">Dynamic Board</strong>: A community board that is likely to change the relative strength of hands as more cards are dealt, often due to being heavily coordinated with draws, such as a board showing 9♠ 10♠ J♦, which has many straight and flush possibilities.</li>
            </ul>
    
            <h2 id="e">E</h2>
            <ul>
                <li><strong class="green">Early Position</strong>: The blinds and the first few seats to the left of the big blind in a poker game, where players act first in the betting round, making it a disadvantageous position due to the lack of information about other players' actions.</li>
                <li><strong class="green">Effective Nuts</strong>: A hand that is close to the best possible under the current circumstances, although it is not the absolute best hand possible (the nuts); often used when the actual nut hand is unlikely due to previous betting actions or known cards.</li>
                <li><strong class="green">Equity</strong>: The share of the pot you can expect to win based on the odds.</li>
                <li><strong class="green">Expected Value (EV)</strong>: A calculation used to determine whether a particular bet is profitable in the long run.</li>
            </ul>
    
            <h2 id="f">F</h2>
            <ul>
                <li><strong class="green">Family Pot</strong>: A poker hand where almost all, or all, players at the table call the initial bet or blind, resulting in many players seeing the flop.</li>
                <li><strong class="green">Favorite</strong>: The hand or player that has the highest probability of winning a pot based on the current cards and statistical odds.</li>
                <li><strong class="green">Fifth Street</strong>: In Texas Hold'em and Omaha, this refers to the fifth and final community card dealt, also known as the river.</li>
                <li><strong class="green">Final Table</strong>: The last table in a poker tournament where the remaining players compete for the top positions and prizes.</li>
                <li><strong class="green">Fish</strong>: A derogatory term used to describe a weak or inexperienced poker player who makes frequent mistakes and is often seen as easy to beat.</li>
                <li><strong class="green">Flush</strong>: A poker hand consisting of any five cards of the same suit, not in sequence.</li>
                <li><strong class="green">Flop</strong>: The first three community cards dealt face-up on the board.</li>
                <li><strong class="green">Fold</strong>: Surrendering your hand and forfeiting any chance of winning the current pot.</li>
                <li><strong class="green">Four of a Kind</strong>: A poker hand consisting of four cards of the same rank, plus any other card</li>
                <li><strong class="green">Fourth Street</strong>: In Texas Hold'em and Omaha, this refers to the fourth community card dealt, also known as the turn.</li>
                <li><strong class="green">Full House</strong>: A poker hand consisting of three cards of one rank and two cards of another rank.</li>
            </ul>
    
            <h2 id="g">G</h2>
            <ul>
                <li><strong class="green">Gutshot</strong>: A draw where you need a specific rank to complete a straight. For example, if your hole cards are 2♠, 3♠ and the flop comes 5♥, 6♦, J♦, you have a gutshot &mdash; a 4 completes your straight.</li>
            </ul>
    
            <h2 id="h">H</h2>
            <ul>
                <li><strong class="green">Hand</strong>: The five-card combination that a player forms using their hole cards and the community cards in games like Texas Hold'em and Omaha, or the specific set of cards dealt to a player in other poker variants.</li>
                <li><strong class="green">Heads-Up</strong>: A poker game or situation where only two players are involved.</li>
                <li><strong class="green">Hero</strong>: A term used to refer to the player making decisions in a hand from their own perspective, often used in hand analysis or discussions to represent the person recounting their own experience.</li>
                <li><strong class="green">Hero Call</strong>: A call made by a player with a marginal or weak hand based on a read or belief that their opponent is bluffing, often requiring a significant amount of courage or intuition.</li>
                <li><strong class="green">Hero Fold</strong>: A fold made by a player with a relatively strong hand based on a read or belief that an opponent has an even stronger hand, often requiring a disciplined and difficult decision.</li>
                <li><strong class="green">High Card</strong>: The weakest hand in poker, consisting of just a high card (5 unrelated cards).</li>
                <li><strong class="green">Hole Cards</strong>: The private cards dealt to a player, unseen by the other players.</li>
            </ul>
    
            <h2 id="i">I</h2>
            <ul>
                <li><strong class="green">Implied Odds</strong>: The potential additional money you can win in future betting rounds if you hit your drawing hand.</li>
                <li><strong class="green">Improve</strong>: To enhance the strength of a player's hand by receiving favorable cards on subsequent betting rounds, such as hitting a draw or pairing a card.</li>
                <li><strong class="green">In Position</strong>: A situation where a player acts after their opponents in a betting round, giving them a strategic advantage by having more information about the opponents' actions.</li>
                <li><strong class="green">Inside Straight Draw</strong>: Another term for a gutshot.</li>
                <li><strong class="green">In the Money (ITM)</strong>: Refers to finishing in a position in a poker tournament where the player earns a payout, typically after reaching a predetermined number of top finishers.</li>
            </ul>
    
            <h2 id="k">K</h2>
            <ul>
                <li><strong class="green">Kicker</strong>: The highest card that doesn't contribute to the strength of a player's hand, used to break ties.</li>
            </ul>
    
            <h2 id="l">L</h2>
            <ul>
                <li><strong class="green">Limp</strong>: Calling the minimum bet instead of raising, typically seen in pre-flop betting.</li>
                <li><strong class="green">Loose</strong>: A playing style characterized by playing a wide range of hands and participating in many pots, often involving calling or raising with weaker or marginal hands.</li>
            </ul>
    
            <h2 id="m">M</h2>
            <ul>
                <li><strong class="green">Made Hand</strong>: A poker hand that does not need any additional cards to improve in order to be competitive, as opposed to a drawing hand.</li>
                <li><strong class="green">Main Pot</strong>: The primary pot in a poker hand that all players are eligible to win. It contains the chips bet by all players up to the point when one or more players go all-in; any further bets go into a separate side pot.</li>
                <li><strong class="green">Maniac</strong>: A very aggressive player who frequently bets and raises, often with weak or marginal hands, creating a lot of action at the table.</li>
                <li><strong class="green">Middle Position</strong>: The seats at a poker table that are between early position and late position, where a player acts after the early positions but before the cutoff and button.</li>
                <li><strong class="green">Muck</strong>: Discarding your hand without showing your cards, usually done after folding.</li>
                <li><strong class="green">Multiway Pot</strong>: A pot that involves three or more players, making the dynamics more complex due to the increased number of potential hands and strategies.</li>
            </ul>
    
            <h2 id="n">N</h2>
            <ul>
                <li><strong class="green">Nit</strong>: A very tight and conservative player who rarely takes risks, often playing only the strongest hands and folding frequently.</li>
                <li><strong class="green">Nuts</strong>: The best possible hand at any given moment, which cannot be beaten by any other hand.</li>
            </ul>
    
            <h2 id="o">O</h2>
            <ul>
                <li><strong class="green">Offsuit</strong>: Refers to a starting hand in Texas Hold'em or Omaha where the two hole cards are of different suits, such as A♠ and K♦.</li>
                <li><strong class="green">On the Button</strong>: A player who is in the dealer position for the current hand. The button is considered the most advantageous position in poker because the player acts last in all betting rounds after the flop.</li>
                <li><strong class="green">Open</strong>: To make the first bet in a betting round. For example, in pre-flop play, the player who first puts chips into the pot "opens" the action.</li>
                <li><strong class="green">Open-Ended Straight Draw</strong>: A draw where you need one of two possible cards on either end of your sequence to complete a straight. For example, if your hole cards are 10♠, 9♥ and the flop comes 2♦, 8♠, 7♣, you have an open-ended straight draw &mdash; a 6 or Jack completes your straight.</li>
                <li><strong class="green">Orbit</strong>: A complete rotation around the poker table where every player has had the chance to be in each position, including the blinds and button.</li>
                <li><strong class="green">Out of Position</strong>: A situation where a player must act before one or more opponents in a betting round, putting them at a strategic disadvantage due to having less information about their opponents' actions.</li>
                <li><strong class="green">Outs</strong>: The cards that will improve your hand to likely become the best hand.</li>
                <li><strong class="green">Overbet</strong>: A bet that is larger than the size of the current pot. Overbets are often used to put maximum pressure on opponents or to protect a strong hand.</li>
                <li><strong class="green">Overcard</strong>: A community card that is higher in rank than a player's hole cards in Texas Hold'em or Omaha. For example, if a player has 9♦ 9♠ and the flop comes Q♣ 5♥ 2♦, the Queen is an overcard.</li>
                <li><strong class="green">Overpair</strong>: A pair in a player's hole cards that is higher than any of the community cards on the board. For example, if a player has J♦ J♠ and the board is 7♣ 5♥ 2♦, the Jacks are an overpair.</li>
            </ul>
    
            <h2 id="p">P</h2>
            <ul>
                <li><strong class="green">Pair</strong>: A poker hand consisting of two cards of the same rank and three unrelated cards.</li>
                <li><strong class="green">Passive</strong>: A playing style characterized by checking and calling more often than betting or raising, typically indicating a cautious or less aggressive approach.</li>
                <li><strong class="green">Play the Board</strong>: When a player's best five-card hand in Texas Hold'em or Omaha is made up entirely of the community cards, meaning their hole cards do not improve the hand.</li>
                <li><strong class="green">Pocket Pair</strong>: Two hole cards of the same rank.</li>
                <li><strong class="green">Poker Face</strong>: A neutral, emotionless expression used by a player to avoid giving away any tells or information about the strength of their hand.</li>
                <li><strong class="green">Polarized</strong>: A situation where a player's range is divided between very strong hands and bluffs, with few or no medium-strength hands in between.</li>
                <li><strong class="green">Pot</strong>: The total amount of money or chips bet in a single hand.</li>
                <li><strong class="green">Pot-Committed</strong>: When a player has invested so many chips into the pot that they are effectively forced to call any additional bets, as folding would lose too much of their stack.</li>
                <li><strong class="green">Pot Odds</strong>: The ratio of the current size of the pot to the cost of a contemplated call, used to determine whether a call is profitable in the long run.</li>
                <li><strong class="green">Pot Sweetener</strong>: A small bet made to build the pot, often with a strong hand, to encourage more players to call and increase the potential winnings.</li>
                <li><strong class="green">Pre-Flop</strong>: The first round of betting in games like Texas Hold'em and Omaha, occurring after the hole cards are dealt and before any community cards are revealed.</li>
                <li><strong class="green">Probe Bet</strong>: A bet made by a player out of position on the turn after the flop was checked around, typically used to test an opponent's strength or gain information.</li>
                <li><strong class="green">Push</strong>: To go all-in.</li>
            </ul>

            <h2 id="q">Q</h2>
            <ul>
                <li><strong class="green">Quads</strong>: Another name for four of a kind.</li>
            </ul>
    
            <h2 id="r">R</h2>
            <ul>
                <li><strong class="green">Raise</strong>: Increasing the size of the current bet.</li>
                <li><strong class="green">Rainbow</strong>: A term used to describe a flop or community board in poker that contains three or more cards of different suits, making it impossible to have a flush draw on that round.</li>
                <li><strong class="green">Rake</strong>: A small percentage of the pot taken by the casino or house as a fee for hosting the game.</li>
                <li><strong class="green">Range</strong>: The complete set of possible hands that a player could have based on their actions in the game. A player's range helps opponents deduce likely holdings and make strategic decisions.</li>
                <li><strong class="green">Rake</strong>: A small percentage of the pot taken by the casino or house as a fee for hosting the game.</li>
                <li><strong class="green">Represent</strong>: To play a hand in a way that suggests you have a specific, strong hand, typically through betting or raising, even if you do not actually hold that hand.</li>
                <li><strong class="green">Reraise</strong>: To raise after another player has already raised in the same betting round. This action typically indicates a very strong hand or a bluffing strategy.</li>
                <li><strong class="green">River</strong>: The fifth and final community card dealt.</li>
                <li><strong class="green">Royal Flush</strong>: The highest-ranking hand in poker, consisting of five consecutive cards of the same suit, starting from 10 up to Ace (10, J, Q, K, A).</li>
                <li><strong class="green">Run It Twice</strong>: An agreement between players to deal the remaining community cards twice after all players are all-in, creating two separate boards and thus splitting the pot into two parts. This practice reduces variance and the impact of a single unlucky draw.</li>
                <li><strong class="green">Runner-Runner</strong>: A situation where a player makes a hand by hitting required cards on both the turn and the river. For example, if a player needs two more cards to complete a flush and hits them on the turn and river consecutively, it’s called a runner-runner flush.</li>
            </ul>
    
            <h2 id="s">S</h2>
            <ul>
                <li><strong class="green">Semi-Bluff</strong>: A bet or raise made with a drawing hand that is not currently the best hand but has the potential to improve to a strong hand on future streets, combining the elements of a bluff and a draw.</li>
                <li><strong class="green">Set</strong>: Three of a kind when you have a pocket pair and one matching community card.</li>
                <li><strong class="green">Shark</strong>: A highly skilled and experienced poker player known for consistently making profitable decisions and often winning against weaker opponents.</li>
                <li><strong class="green">Short Stack</strong>: A player who has a relatively small number of chips compared to the other players at the table or relative to the blinds, which limits their strategic options.</li>
                <li><strong class="green">Showdown</strong>: The point at which all remaining players reveal their hands to determine the winner.</li>
                <li><strong class="green">Showdown Value</strong>: The potential for a hand to win at showdown without needing to improve, typically used in reference to marginal hands that can still beat bluffs or weaker hands.</li>
                <li><strong class="green">Side Pot</strong>: A separate pot created when a player goes all-in, and other players with more chips continue betting. The side pot is contested by the players who still have chips left, while the all-in player can only win the main pot.</li>
                <li><strong class="green">Small Blind</strong>: A forced bet placed by the player to the immediate left of the dealer button.</li>
                <li><strong class="green">Snap Call</strong>: An immediate call made by a player without hesitation, usually indicating a strong hand or a confident read that their hand is likely to win.</li>
                <li><strong class="green">Stack</strong>: The total amount of chips a player has in front of them at a poker table, representing their current holdings and available for use in bets and raises.</li>
                <li><strong class="green">Stakes</strong>: The level of betting limits or the buy-in amounts for a particular poker game, which determine the amount of money or chips that can be wagered in each hand.</li>
                <li><strong class="green">Static Board</strong>: A community board in poker that is unlikely to change the relative strength of hands as more cards are dealt, typically due to low connectivity and few draw possibilities.</li>
                <li><strong class="green">Straight</strong>: A poker hand of five consecutive cards, not all of the same suit.</li>
                <li><strong class="green">Straight Flush</strong>: A poker hand of five consecutive cards of the same suit, but not a Royal Flush</li>
                <li><strong class="green">Street</strong>: A term used to describe each round of betting in poker, such as the flop, turn, and river in Texas Hold'em. Each "street" represents a phase of the hand where new cards are dealt, and betting occurs.</li>
                <li><strong class="green">Suit</strong>: One of the four categories into which the cards of a standard 52-card deck are divided. The four suits in a standard deck are Hearts (♥), Diamonds (♦), Clubs (♣), and Spades (♠).</li>
                <li><strong class="green">Suited</strong>: Refers to a starting hand in Texas Hold'em or Omaha where the two hole cards are of the same suit, such as A♠ and K♠, increasing the potential for flushes.</li>
                <li><strong class="green">Suited Connectors</strong>: Two consecutive cards of the same suit, such as 8♠ and 9♠, which are often played together due to their potential to make straights and flushes.</li>
            </ul>
    
            <h2 id="t">T</h2>
            <ul>
                <li><strong class="green">Tank</strong>: To take a long time to make a decision in poker, often contemplating a difficult choice or trying to assess the situation thoroughly.</li>
                <li><strong class="green">Tell</strong>: A physical or behavioral clue that a player unintentionally gives away about the strength of their hand, which opponents can use to gain an advantage.</li>
                <li><strong class="green">Three-Bet</strong>: The act of making a re-raise before the flop, or the third bet in a betting round after an initial bet and raise.</li>
                <li><strong class="green">Three of a Kind</strong>: A poker hand consisting of three cards of the same rank and two unrelated cards.</li>
                <li><strong class="green">Tight</strong>: A playing style characterized by playing fewer hands and being selective about starting hands, generally involving more conservative and cautious play.</li>
                <li><strong class="green">Tilt</strong>: A state of emotional frustration or confusion that negatively affects a player's strategy.</li>
                <li><strong class="green">Top Kicker</strong>: The highest possible side card that can be used to break ties between hands of the same rank.</li>
                <li><strong class="green">Trap</strong>: A deceptive strategy where a player plays a strong hand passively to induce bets from opponents, with the intention of raising later in the hand.</li>
                <li><strong class="green">Trey</strong>: A slang term for a card with a rank of three.</li>
                <li><strong class="green">Trips</strong>: Three of a Kind without a pocket pair.</li>
                <li><strong class="green">Turn</strong>: The fourth community card dealt face-up.</li>
                <li><strong class="green">Two Pair</strong>: A poker hand consisting of two cards of one rank, two cards of another rank, and one unrelated card</li>
            </ul>
    
            <h2 id="u">U</h2>
            <ul>
                <li><strong class="green">Underdog</strong>: A player or hand that is statistically less likely to win a pot compared to another hand or player, often due to having fewer outs or a weaker overall position.</li>
                <li><strong class="green">Under the Gun (UTG)</strong>: The first player to act in a betting round, located directly to the left of the big blind.</li>
                <li><strong class="green">Upswing</strong>: A period of positive variance or a winning streak in poker, where a player experiences consistent success and increases their chip stack or bankroll over several hands or sessions.</li>
            </ul>

            <h2 id="v">V</h2>
            <ul>
                <li><strong class="green">Value Bet</strong>: A bet made with a strong hand that is likely to be the best, aimed at extracting as much money as possible from opponents who might call with weaker hands.</li>
                <li><strong class="green">Variance</strong>: The statistical measure of the dispersion or fluctuation of a player's results over the short term, reflecting the natural ups and downs in poker due to luck and randomness.</li>
                <li><strong class="green">Villain</strong>: A term used in hand discussions or analysis to refer to an opponent, typically the main adversary in a particular hand or situation.</li>
            </ul>
    
            <h2 id="w">W</h2>
            <ul>
                <li><strong class="green">Wet Board</strong>: Another name for dynamic board.</li>
                <li><strong class="green">Whale</strong>: A term used to describe a very wealthy and inexperienced poker player who tends to play loosely and make large, frequent bets, often leading to significant losses. Whales are considered highly desirable opponents by skilled players due to their tendency to lose large amounts of money.</li>
                <li><strong class="green">Wheel</strong>: The lowest possible straight (A-2-3-4-5).</li>
            </ul>
        </main>
        <script src="/js/shared.js"></script>
    </body>