<%- include('../includes/head.ejs') %>
        <link rel="stylesheet" href="/css/game-01.css">
        <script src="/js/pokerutils.js"></script>
        <script src="/js/game-01.js"></script>
    </head>

    <body>
        <%- include('../includes/nav.ejs') %>
        <main>
            <div id="showdown-backdrop"></div>
            <div id="game-modes">
                <div id="game-mode-top-bar">
                    <button id="game-mode-back" class="btn">Back</button>
                    <h1 class="game-title">SHOWDOWN</h1>
                    <button id="how-to-play" class="btn flash-how-to-play">HOW TO PLAY</button>
                </div>
                <div id="how-to-play-popup">
                    <h2>How to Play: SHOWDOWN</h2>
                    <p>Welcome to <b>Showdown</b> &mdash; a game designed to help you master poker hand rankings!</p>

                    <p>(Need a refresher on hand rankings? Check out <a href="/articles/hand-rankings" target="_blank">Poker Hand Rankings: A Beginner's Guide</a> for more details.)</p>
                    
                    <h3>Objective</h3>
                    <p>Your goal is to determine the winning hand in a poker showdown. You'll see the hole cards of two players and five community cards. Decide which player has the strongest hand (or if they tie!)</p>

                    <p>
                        (Need a refresher on poker terms? Check out <a href="/articles/poker-lingo" target="_blank">A Long List of Poker Lingo</a>.
                        New to poker entirely? Check out <a href="/articles/how-to-play-poker" target="_blank">How to Play Poker</a>).
                    </p>
                    <h3>Example</h3>
                    <p>In the interactive example below, the situation is Player 1's Ace King v.s. Player 2's pair of eights. Click on the winning player or tie
                        if they are equally matched. A message at the bottom will display if you are correct.
                    </p>

                    <div class="board-wrapper-howto">
                        <h3>BOARD</h3>
                        <div id="board-cards-howto">
                            <img src="/assets/cards/A-H.png">
                            <img src="/assets/cards/9-C.png">
                            <img src="/assets/cards/2-D.png">
                            <img src="/assets/cards/K-D.png">
                            <img src="/assets/cards/8-S.png">
                        </div>
                    </div>
                    <div class="player-cards-wrapper-howto">
                        
                        <div class="player-cards-howto" id="player-1-container-howto">
                            <h3>PLAYER 1</h3>
                            <div id="player-1-cards-howto">
                                <img src="/assets/cards/A-S.png">
                                <img src="/assets/cards/K-H.png">
                            </div>
                        </div>
        
                        <p id="tie-howto" class="btn">TIE</p>
        
                        <div class="player-cards-howto" id="player-2-container-howto">
                            <h3>PLAYER 2</h3>
                            <div id="player-2-cards-howto">
                                <img src="/assets/cards/8-C.png">
                                <img src="/assets/cards/8-H.png">
                            </div>
                        </div>
                    </div>

                    <p id="howto-ex-feedback"></p>

                    <h3>Game Modes</h3>
                    <p>Ready to play? Choose a game mode and get started. Race against the clock with <i><b>Blitz</b></i> or <i><b>20-Hands</b></i>, see how long you can keep a 
                        streak going with <i><b>Survival</b></i>, or have a relaxing practice session with <i><b>Zen</b></i>.
                    </p>

                    <h3>Play</h3>
                    <p>Dive into Showdown and see if you can pick the winner every time!</p>

                    <button class="btn" id="how-to-play-close">Close</button>
                </div>
                <h1 id="choose-text">Choose a Game Mode</h1>
                <div class="game-mode-grid">
                    <div id="blitz" class="game-mode-item">
                        <img src="assets/badges/blitz_badge.png">
                    </div>
                    <div id="survival" class="game-mode-item">
                        <img src="assets/badges/survival_badge.png">
                    </div>
                    <div id="20-hands" class="game-mode-item">
                        <img src="assets/badges/twenty_hands_badge.png">
                    </div>
                    <div id="zen" class="game-mode-item">
                        <img src="assets/badges/zen_badge.png">
                    </div>
                </div>
            </div>
    
            <div id="start-screen" style="display: none;">
                <div id="start-screen-top-bar">
                    <button id="start-screen-back" class="btn">Back</button>
                </div>
                <div id="start-screen-body">
                    <h1 id="game-mode-name"></h1>
                    <p id="game-mode-description"></p>
                    <div id="game-mode-instructions-wrapper">
                        <h2>Instructions</h2>
                        <p id="game-mode-instructions"></p>
                    </div>
                    <button id="game-01-start" class="btn">START</button>
                </div>
            </div>
    
            <div id="game-area" style="display: none;">
                <div class="game-area-top-bar">
                    <button id="exit" class="btn">Exit</button>
                    <p id="score"></p>
                    <div id="timer" style="display: none;"></div>
                </div>
                <div class="board-wrapper">
                    <h2>BOARD</h2>
                    <div id="board-cards"></div>
                </div>
                <div class="player-cards-wrapper">
                    
                    <div class="player-cards" id="player-1-container">
                        <h3 id="player-1-label">PLAYER 1</h3>
                        <div id="player-1-cards"></div>
                    </div>
    
                    <button id="tie" class="btn">TIE</button>
    
                    <div class="player-cards" id="player-2-container">
                        <h3 id="player-2-label">PLAYER 2</h3>
                        <div id="player-2-cards"></div>
                    </div>
                </div>
                <div id="indicator" class="flashing"></div>
                <div class="result-wrapper">
                    <p id="result"></p>
                    <button id="next" style="display: none;" class="btn">NEXT</button>
                </div>
                <div id="survival-message-wrapper">
                    <p id="survival-message"></p>
                    <button id="survival-next" class="btn">End Game</button>
                </div>
            </div>
    
            <div id="game-over-screen" style="display: none;">
                <h1>Game Over</h1>
                <p id="high-score-message" style="display: none;">New High Score!</p>
                <h2>Score</h2>
                <p id="final-score"></p>
                <h2>High Score</h2>
                <p id="high-score"></p>
                <div class="game-over-btns">
                    <button id="play-again" class="btn">Play Again</button>
                    <br>
                    <button id="game-over-back" class="btn">Back</button>
                </div>
            </div>
        </main>
        <script src="/js/shared.js"></script>
    </body>

</html>